<body class="destiny1">
  <%= render 'shared/d1_nav' %>

  <div class="container home">
    <div class="row">
      <div class="col-12">
        <h1>Destiny Weapons Comparison</h1>
      </div>
    </div>

    <div class="row mb-5">
      <div class="col-md-8">
        <p>Compare the known weapons' stats of Destiny 1 like rate of fire, range, stability, but also compare useful hidden stats between weapons, like <strong>aim assistance</strong> and <strong>recoil</strong>. Let's get started?</p>
      </div>
    </div>

    <div class="row mb-5">
      <div class="col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
        <form action="/" id="d1-search-form">
          <div class="form-group">
            <label for="primary-weapon">Compare...</label>
            <select name="primary-weapon" id="primary-weapon" class="form-control d1-search-weapon"></select>
          </div>
          <div class="form-group">
            <label for="secondary-weapon">With...</label>
            <select name="secondary-weapon" id="secondary-weapon" class="form-control d1-search-weapon"></select>
          </div>
          <button class="btn btn-primary btn-block btn-lg" id="compare-button">Compare</button>
        </form>
      </div>
    </div>
  </div>

  <%= render 'shared/d1_footer' %>
</body>
