<footer class="text-right">
  <div class="container-fluid">
    <div class="row">
      <div class="col">Developed in <%= image_tag 'flag_of_brazil.svg' %> by <a href="https://github.com/brunnopleffken" target="_blank">Brunno Pleffken Hosti (NvD Exilium)</a></div>
    </div>
  </div>
</footer>
