<div class="container">
  <form action="/" id="search-form" class="form-inline">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <div class="form-group">
          <label for="primary-weapon">Comparar...</label>
          <input type="text" class="form-control" id="primary-weapon" name="primary-weapon" placeholder="Ex: Encarada de 1000 Jardas" required>
        </div>
        <div class="form-group">
          <label for="secondary-weapon">...com...</label>
          <input type="text" class="form-control" id="secondary-weapon" name="secondary-weapon" placeholder="Ex: Irene RR4" required>
        </div>
        <button type="submit" class="btn btn-default">Comparar</button>
      </div>
    </div>
  </form>
</div>

<hr>
