<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Destiny Weapons Comparison</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <form action="/" id="search-form">
        <div class="form-group">
          <label for="primary-weapon">Comparar...</label>
          <input type="text" class="form-control input-lg" id="primary-weapon" name="primary-weapon" placeholder="Ex: Encarada de 1000 Jardas" required>
        </div>
        <div class="form-group">
          <label for="secondary-weapon">Com...</label>
          <input type="text" class="form-control input-lg" id="secondary-weapon" name="secondary-weapon" placeholder="Ex: Irene RR4" required>
        </div>
        <button class="btn btn-success btn-block btn-lg">Comparar</button>
      </form>
    </div>
  </div>
</div>
