<div class="container home">
  <div class="row">
    <div class="col-xs-12">
      <h1>Destiny Weapons Comparison</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <p>Compare the known weapons' stats like rate of fire, range, stability, but also compare useful hidden stats between weapons, like <strong>aim assistance</strong> and <strong>recoil</strong>.</p>
      <p>Maybe you want to compare a Year 1 weapon with its Year 2 variant (like the old LDR 5001 with the new one). No problems! The app recognizes you want to compare the same weapon and brings you both Y1 and Y2 variants.</p>
      <p>Let's get started?</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
      <form action="/" id="search-form">
        <div class="form-group">
          <label for="primary-weapon">Comparar...</label>
          <input type="text" class="form-control input-lg" id="primary-weapon" name="primary-weapon" placeholder="Ex: Encarada de 1000 Jardas" required>
        </div>
        <div class="form-group">
          <label for="secondary-weapon">Com...</label>
          <input type="text" class="form-control input-lg" id="secondary-weapon" name="secondary-weapon" placeholder="Ex: Irene RR4" required>
        </div>
        <button class="btn btn-success btn-block btn-lg">Comparar</button>
      </form>
    </div>
  </div>

  <div class="row faq">
    <div class="col-xs-12">
      <h1>FAQ</h1>
    </div>
    <div class="col-md-10">
      <h4>From where do you get those data?</h4>
      <p>Directly from Bungie! We don't store any data. We don't have any database. ZERO kilobytes. All weapons stats and information are got from Bungie's API and processed in real-time by our app. The official application and Bungie's website uses the same API.</p>
      <h4>I got an error in a weapon stat. What can I do?</h4>
      <p>Nothing. As I said, we don't store any data and we're not able to correct any wrong value.</p>
      <h4>I'm getting an error when trying to compare a weapon. What am I doing wrong?</h4>
      <p>Check if you're not mistyping the weapon's name. Although you can type partial names (like "longbow" instead of "Longbow Synthesis Y-09"), their API is not smart enough to allow mistypings. If the name is correct, maybe their API is missing something (e.g. the search for "Boolean Gemini" scout rifle wasn't returning any results).</p>
      <h4>I'd like to contribute with new ideas!</h4>
      <p>Nice! You can contact me on <a href="https://twitter.com/brunnopleffken" target="_blank">Twitter</a> or open an issue in the <a href="https://github.com/brunnopleffken/destiny-weapons-comparison" target="_blank">GitHub repository</a>. Yes, this app is open-source.</p>
    </div>
  </div>
</div>
