<div class="error-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-2 col-sm-2 col-md-2 col-md-offset-3 text-right hidden-xs">
        <div class="error-image-container pull-right">
          <div class="outer-circle"></div>
          <div class="inner-circle"></div>
          <div class="exclamation-mark">!</div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <span class="title">Erro</span>
        <p>Uma de suas buscas não retornou nenhum resultado. Verifique se o nome foi digitado corretamente.</p>
        <p>Pesquisando por: <%= @keyword %></p>
      </div>
    </div>
  </div>
</div>
