/*
 *= require bootstrap/dist/css/bootstrap.min
 *= require select2/dist/css/select2.min
 *= require fonts
 *= require home
 *= require destiny1
 *= require destiny2
 *= require_self
 */

* { outline: none; }
html { height: 100%; }

body {
  font-family: 'Neue Haas Grotesk', Arial, sans-serif;
}
