body.destiny2 {
  background-image: image-url('destiny2_main_background.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  font-size: 14px;

  nav {
    background-size: cover;
    a {
      color: #fff !important;
    }
    .navbar-brand {
      font-weight: 700;
      letter-spacing: 0.05em;
      margin-right: 0;
      padding-left: 75px;
      position: relative;
      img {
        height: 60px;
        left: 0;
        position: absolute;
        top: 0;
      }
    }
    .navbar-nav {
      flex-direction: row;
      .nav-item {
        &.active {
          .nav-link {
            opacity: 1;
          }
        }
        .nav-link {
          font-size: 12px;
          letter-spacing: 0.05em;
          opacity: 0.4;
          padding-right: 1rem;
          padding-left: 1rem;
          text-transform: uppercase;
        }
      }
    }
  }

  .btn {
    background-color: rgba(#000, 0.2);
    border: 1px solid rgba(#fff, 0.4);
    border-radius: 0;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    padding: 1em 3em;
    &:hover {
      background-color: rgba(#000, 0.4);
      border: 1px solid rgba(#fff, 0.6);
    }
  }

  .results {
    .title {
      margin-bottom: 15px;
      overflow: hidden;
      img {
        border: 1px solid #fff;
        float: left;
        height: 60px;
        margin-right: 10px;
      }
      h2 {
        font-size: 26px;
        font-weight: 600;
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        text-transform: uppercase;
        white-space: nowrap;
      }
      h3 {
        color: #d7d8d9;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 0.05em;
        margin: 0;
        text-transform: uppercase;
      }
    }
    .lead {
      color: #eee;
      font-size: 12px;
      font-style: italic;
      letter-spacing: 0.06em;
      line-height: 1em;
      margin: 0 0 30px;
    }
    .attack {
      margin-bottom: 30px;
      overflow: hidden;
      img {
        float: left;
        height: 30px;
        margin-right: 10px;
      }
      .value {
        font-weight: 600;
        font-size: 30px;
        line-height: 30px;
      }
    }
    .block-title {
      margin-bottom: 15px;
      span {
        border-bottom: 2px solid #fff;
        display: block;
        font-weight: 300;
        letter-spacing: 0.05em;
        opacity: 0.55;
        text-transform: uppercase;
      }
    }
    .stat-row {
      margin-bottom: 10px;
      .stat-label {
        font-weight: 300;
        letter-spacing: 0.05em;
        opacity: 0.75;
      }
      .progress {
        background-color: rgba(#000, 0.15);
        border-radius: 0;
        height: 18px;
        .progress-bar {
          background-color: #fff;
          color: rgba(#000, 0.2);
          &.upper { background-color: #7fc67a; }
          &.down { background-color: #813b3b; }
        }
      }
      span {
        &.upper { color: #7fc67a; }
        &.down { color: #813b3b; }
      }
    }
    .lore-subtitle {
      display: block;
      font-weight: 600;
      margin-bottom: 15px;
      opacity: 0.9;
      text-transform: uppercase;
    }
    .lore-description {
      display: block;
      font-style: italic;
      font-weight: 300;
      letter-spacing: 0.05em;
      opacity: 0.7;
    }
  }

  footer {
    background-color: rgba(#000, 0.5);
    padding-bottom: 10px;
    padding-top: 10px;
    a { color: #fff; }
    img {
      height: 17px;
      margin: 0 5px;
      vertical-align: text-top;
    }
  }

  .select2-selection--single {
    background-color: rgba(#000, 0.3);
    border: 1px solid rgba(#fff, 0.4);
    border-radius: 0;
    height: 32px;
    .select2-selection__rendered {
      color: #fff;
      line-height: 30px;
    }
    .select2-selection__arrow b {
      border-color: #ccc transparent transparent transparent;
      margin-top: 0;
    }
  }

  .select2-dropdown {
    background-color: rgba(#000, 0.8);
  }

  .select2-search__field {
    background-color: transparent;
    border-radius: 0;
    border: 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: none;
    color: #fff;
    &:focus {
      box-shadow: none !important;
    }
  }

  .select2-results__option--highlighted {
    background-color: #333 !important;
  }

  .select2_weapon-result {
    overflow: auto;
    img {
      height: 40px;
      margin-right: 10px;
    }
  }
}
