@font-face {
  font-family: "Neue Haas Grotesk";
  font-weight: 400;
  src: url("/fonts/NHaasGroteskTXPro-55Rg.otf") format("opentype"),
       url("/fonts/NHaasGroteskTXPro-55Rg.ttf") format("truetype");
}

@font-face {
  font-family: "Neue Haas Grotesk";
  font-weight: 400;
  font-style: italic;
  src: url("/fonts/NHaasGroteskTXPro-56It.otf") format("opentype"),
       url("/fonts/NHaasGroteskTXPro-56It.ttf") format("truetype");
}

@font-face {
  font-family: "Neue Haas Grotesk";
  font-weight: 700;
  src: url("/fonts/NHaasGroteskTXPro-75Bd.otf") format("opentype"),
       url("/fonts/NHaasGroteskTXPro-75Bd.ttf") format("truetype");
}

@font-face {
  font-family: "Neue Haas Grotesk";
  font-weight: 700;
  font-style: italic;
  src: url("/fonts/NHaasGroteskTXPro-76BdIt.otf") format("opentype"),
       url("/fonts/NHaasGroteskTXPro-76BdIt.ttf") format("truetype");
}
