body {
  background-image: image-url('gradient_green.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  color: #fff;
}

.navbar {
  border-radius: 0;
  &.navbar-default {
    background-color: #758181;
    border: 0;
    border-bottom: 4px solid #919c9c;
    .navbar-brand {
      color: #fff;
    }
    .navbar-text {
      color: #fff;
      opacity: 0.4;
    }
  }
}

form {
  .form-control {
    background-color: transparent;
    border-radius: 0;
    border: 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: none;
    color: #fff;
    padding-left: 0;
    padding-right: 0;
    &:focus {
      box-shadow: none;
      border-bottom: 2px solid rgba(255, 255, 255, 0.4);
    }
  }
  .btn {
    border-radius: 0;
    &.btn-default {
      background-color: rgba(0, 0, 0, 0.3);
      border: 1px solid rgba(255, 255, 255, 0.2);
      box-shadow: none;
      color: #a9a9a9;
      &:hover {
        background-color: rgba(0, 0, 0, 0.5);
        border: 1px solid rgba(255, 255, 255, 0.4);
      }
    }
    &.btn-primary {
      background-color: rgba(0, 0, 0, 0.5);
      border: 1px solid rgba(255, 255, 255, 0.7);
      box-shadow: none;
      color: #ddd;
      text-transform: uppercase;
      &:hover {
        background-color: rgba(0, 0, 0, 0.9);
        border: 1px solid rgba(255, 255, 255, 1);
      }
    }
  }
}

.home {
  h1 {
    text-transform: uppercase;
    font-weight: bold;
  }
  p {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
    opacity: 0.7;
  }
  form {
    margin: 40px 0;
  }
  .faq {
    p {
      margin-bottom: 20px;
    }
  }
}

.search {
  margin-bottom: 40px;
}

.table {
  thead {
    tr {
      th {
        border-bottom: 0;
        vertical-align: top;
        &.primary, &.secondary { position: relative;}
        &.tier-1, &.tier-2 { background: rgba(245,245,245,.9); color: #1e242b !important; }
        &.tier-3 { background: rgba(47,107,60,.9); }
        &.tier-4 { background: rgba(85,127,158,.9); }
        &.tier-5 { background: rgba(78,50,99,.9); }
        &.tier-6 { background: rgba(206,174,50,.9); }
        img {
          border: 2px solid #fff;
          float: left;
          margin-right: 10px;
          height: 80px;
          width: 80px;
        }
        h1 {
          font-size: 22px;
          font-weight: bold;
          margin: 0;
          text-transform: uppercase;
        }
        h2 {
          font-size: 15px;
          font-weight: normal;
          margin: 0;
          margin-bottom: 0.7rem;
          opacity: 0.4;
        }
        .tier {
          bottom: 5px;
          font-size: 16px;
          font-weight: normal;
          position: absolute;
          opacity: 0.15;
          right: 10px;
        }
      }
    }
  }
  tbody {
    tr {
      &.mobile-header {
        td {
          text-align: center !important;
          img {
            border: 2px solid #fff;
            display: inline-block;
            height: 90px;
            width: 90px;
          }
          span {
            display: inline-block;
            font-size: 30px;
            line-height: 94px;
            width: 1.5em;
          }
        }
      }
      td {
        background-color: rgba(0, 0, 0, 0.7);
        border-top: 0;
        color: #a9a9a9;
        &:first-child {
          font-weight: bold;
          text-align: right;
        }
        &.attack {
          span {
            color: #fff;
            font-size: 36px;
            font-weight: bold;
            line-height: 1;
            small {
              font-size: 20px;
              font-weight: normal;
            }
          }
        }
        .damage-type-icon { height: 30px; }
        blockquote {
          border: 0;
          font-family: 'Lato', sans-serif;
          font-size: 14px;
          font-style: italic;
          font-weight: normal;
          line-height: 1.4em;
          margin: 0;
          padding: 0;
        }
        span {
          &.upper { color: #7fc67a; }
          &.down { color: #813b3b; }
        }
      }
      &.section-name {
        td {
          font-size: 20px;
          text-transform: uppercase;
          text-align: left;
        }
      }
    }
  }
}

.progress {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 0;
  .progress-bar {
    background-color: #fff;
    box-shadow: none;
    color: #aaa;
    text-align: left;
    &.upper {
      background-color: #7fc67a;
      min-width: 1px;
    }
    &.down {
      background-color: #813b3b;
      min-width: 1px;
    }
  }
}

.tooltip {
  .tooltip-inner {
    border-radius: 0;
  }
}

.source {
  margin-bottom: 15px;
  overflow: hidden;
  .image {
    float: left;
    height: 70px;
    margin-right: 10px;
  }
  .text {
    .title {
      display: block;
      font-weight: bold;
      text-transform: uppercase;
    }
    .desc {
      font-family: 'Lato', sans-serif;
      font-size: 12px;
      font-style: italic;
      font-weight: normal;
    }
  }
}

.error-container {
  background-color: rgba(0, 0, 0, 0.6);
  border-top: 3px solid #813b3b;
  color: #a9a9a9;
  margin-top: 150px;
  padding: 40px;
  .title {
    color: #fff;
    font-size: 18px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  .error-image-container {
    height: 100px;
    position: relative;
    width: 100px;
    .outer-circle {
      border: 10px solid #962f30;
      border-radius: 50px;
      position: absolute;
      height: 100px;
      width: 100px;
    }
    .inner-circle {
      background-color: #962f30;
      border-radius: 50px;
      left: 17px;
      position: absolute;
      top: 17px;
      height: 66px;
      width: 66px;
    }
    .exclamation-mark {
      color: rgb(50, 58, 56);
      font-size: 64px;
      font-weight: bold;
      position: absolute;
      text-align: center;
      line-height: 100px;
      width: 100px;
    }
  }
}

footer {
  background-color: #000;
  border-top: 2px solid #fff;
  font-size: 14px;
  line-height: 1;
  margin-top: 30px;
  padding: 10px;
  text-align: right;
  img {
    height: 14px;
    margin: 0 5px;
  }
  a {
    color: #fff;
  }
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.3) !important;
}

:-moz-placeholder { /* Firefox 18- */
  color: rgba(255, 255, 255, 0.3) !important;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.3) !important;
}

:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.3) !important;
}
